#recipe-detail-wrapper {
  padding: 100px 0;

  display: flex;
  justify-content: center;
}

.recipe-detail-container {
  width: 996px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

#recipe-detail-top {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.recipe-detail-top-header {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.recipe-detail-title {
  color: rgba(0, 0, 0, 1);

  font-size: 32px;
  font-weight: 500;
  line-height: 140%;
}

.recipe-detail-top-sub-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.recipe-detail-write-info-box {
  display: flex;
  align-items: center;
  gap: 8px;
}

.recipe-detail-writer-profile-image {
  border-radius: 50% 50%;
  width: 32px;
  height: 32px;

  background-position: 50% 50%;
  background-size: 100% 100%;
}

.recipe-detail-writer-profile-image:hover {
  cursor: pointer;
}

.recipe-detail-writer-nickname {
  color: rgba(0, 0, 0, 0.7);

  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
}

.recipe-detail-writer-nickname:hover {
  cursor: pointer;
}

.recipe-detail-info-divider,
.recipe-detail-write-date {
  color: rgba(0, 0, 0, 0.4);

  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}

.recipe-detail-more-box {
  position: absolute;
  top: -81px;
  right: 0px;

  background-color: rgba(255, 255, 255, 1);

  box-shadow: 0px 4px 16px 0 rgba(0, 0, 0, 0.25);
}

.recipe-detail-update-button {
  width: 143px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: rgba(0, 0, 0, 0.6);

  font-size: 14px;
  font-weight: 600;
  line-height: 140%;
}

.recipe-detail-update-button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.03);
  color: rgba(0, 0, 0, 1);
}

.recipe-detail-delete-button {
  width: 143px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: rgba(255, 0, 0, 0.6);

  font-size: 14px;
  font-weight: 600;
  line-height: 140%;
}

.recipe-detail-delete-button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.03);
  color: rgba(255, 0, 0, 1);
}

.recipe-detail-top-main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.recipe-detail-top-intro {
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  margin: 20px;
}
.recipe-detail-main-text {
  color: rgba(0, 0, 0, 0.78);

  font-size: 20px;
  font-weight: 500;
  line-height: 150%;

  white-space: pre-wrap;
}

.recipe-detail-top-main-images {
  display: flex; /* 이미지를 가로로 배치 */
  flex-direction: row; /* 가로 방향으로 정렬 */
  gap: 10px; /* 이미지들 간의 간격 설정 */
  justify-content: center; /* 이미지를 부모 컨테이너의 가운데에 배치 */
  flex-wrap: wrap; /* 이미지가 컨테이너 너비를 초과할 경우 줄바꿈 */
}

.recipe-detail-main-image {
  width: 200px; /* 각 이미지의 고정 너비 */
  height: 150px; /* 각 이미지의 고정 높이 */
  object-fit: cover;
  border-radius: 8px; /* 이미지의 모서리를 둥글게 설정 */
}

.recipe-detail-bottom {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.recipe-detail-bottom-button-box {
  display: flex;
  gap: 12px;
}

.recipe-detail-bottom-button-group {
  display: flex;
  align-items: center;
  gap: 6px;
}

.recipe-detail-bottom-button-text {
  color: rgba(0, 0, 0, 0.7);
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
}

.recipe-detail-bottom-favorite-box {
  border: 1px solid rgba(0, 0, 0, 0.2);

  padding: 20px 20px 40px;
}

.recipe-detail-bottom-favorite-container {
  display: flex;
  flex-direction: column;

  gap: 20px;
}

.recipe-detail-bottom-favorite-title {
  color: rgba(0, 0, 0, 1);

  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
}

.recipe-detail-bottom-favorite-content {
  display: flex;
  flex-wrap: wrap;

  row-gap: 20px;
  column-gap: 30px;
}

.recipe-detail-bottom-comment-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.recipe-detail-bottom-comment-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 20px;
}

.recipe-detail-bottom-comment-title {
  color: rgba(0, 0, 0, 1);

  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
}

.recipe-detail-bottom-comment-list-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.recipe-detail-bottom-comment-pagination-box {
  display: flex;
  justify-content: center;
}

.recipe-detail-bottom-comment-input-box {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.recipe-detail-bottom-comment-input-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.recipe-detail-bottom-comment-textarea {
  outline: none;
  border: none;
  background: none;
  resize: none;

  color: rgba(0, 0, 0, 1);

  font-size: 16px;
  font-weight: 400;
  line-height: 150%;

  overflow: hidden;
}

.recipe-detail-bottom-comment-button-box {
  display: flex;
  justify-content: flex-end;
}
.recipe-detail-top-main.full-screen {
  height: 317px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.recipe-detail-step {
  display: flex;
  align-items: center;
  justify-content: space-between; /* 좌우로 배치 */
  margin-bottom: 20px; /* 스텝 간의 간격 */
  gap: 20px; /* 스텝 번호, 텍스트, 이미지 사이의 간격 */
  width: 100%;
}

.recipe-detail-step-number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto; /* 너비 자동 */
  height: auto; /* 높이 자동 */
  border-radius: 50%;
  font-size: 24px; /* 텍스트 크기 크게 */
  font-weight: bold; /* 텍스트 굵게 */
  flex-shrink: 0; /* 번호가 작아지지 않도록 고정 */
  margin-right: 20px; /* step number와 content 사이 간격 추가 */
}

.recipe-detail-step-content {
  flex-grow: 1; /* 텍스트가 남은 공간을 채우도록 설정 */
  color: rgba(0, 0, 0, 0.85);
  font-size: 20px;
  font-weight: bold; /* 텍스트를 굵게 변경 */
  line-height: 150%;
  text-align: center; /* 중앙 정렬 */
  white-space: pre-wrap; /* 텍스트 줄바꿈 유지 */
}

.recipe-detail-step-image {
  width: 160px; /* 이미지 크기 */
  height: 100px;
  object-fit: cover;
  border-radius: 8px; /* 모서리 둥글게 처리 */
  flex-shrink: 0; /* 이미지가 작아지지 않도록 고정 */
  margin-left: 20px; /* content와 image 사이 간격 추가 */
}
.recipe-detail-cooking-time {
  font-size: 18px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.78);
  margin-bottom: 20px; /* 텍스트와 다음 요소 간의 간격 */
}
