#trade-update-wrapper {
  border-top: 1px solid rgba(0, 0, 0, 0.3);

  display: flex;
  justify-content: center;

  background-color: rgba(181, 214, 146, 0.3);
}

.trade-update-container {
  padding: 100px 24px;
  width: 996px;
  min-height: 960px;
  background-color: rgba(255, 255, 255, 1);
}

.trade-update-box {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.trade-update-title-box {
  width: 100%;
}

.trade-update-title-textarea {
  width: 100%;

  border: none;
  outline: none;
  background: none;
  resize: none;

  color: rgba(0, 0, 0, 1);

  font-size: 32px;
  font-weight: 500;
  line-height: 140%;
}

.trade-update-content-box {
  width: 100%;

  display: flex;
  gap: 16px;
}

.trade-update-content-textarea {
  flex: 1;

  border: none;
  outline: none;
  background: none;
  resize: none;

  color: rgba(0, 0, 0, 0.8);

  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
}

.trade-update-images-container {
  display: flex;
  flex-wrap: wrap;
}

.trade-update-image-box {
  position: relative;
  width: 89px; /* 이미지 박스의 너비 조정 */
  height: 89px; /* 이미지 박스의 높이 조정 */
  margin-right: 10px; /* 이미지 박스 간 간격 조정 */
  margin-bottom: 10px; /* 이미지 박스 간 간격 조정 */
  overflow: hidden; /* 넘치는 이미지를 자르기 위해 overflow 속성 추가 */
  background-color: #f0f0f0; /* 남는 공간의 회색 배경 설정 */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;

  position: relative;
}

.trade-update-image {
  width: 100%;
}

.image-close {
  position: absolute;
  top: 5px;
  right: 5px;
}
.price-trade-location-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 15px;
}

.price-box input {
  width: 30%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  appearance: none;
}

.trade-location-box textarea {
  width: 50%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  resize: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; 
}
