#nearby-wrapper {
  padding: 40px 0px 40px;
  min-height: 471px;
  display: flex;
  justify-content: center;
  font-family: "NPSfontBold";
  overflow: hidden;
}

.nearby-container {
  display: flex;
  width: 1200px;
  min-width: 1200px;
  min-height: 100%;
  gap: 20px; /* 지도와 검색 패널 사이의 간격 */
}

.map-container {
  flex: 1; /* 지도 영역의 너비를 더 넓게 설정 */
  width: 500px;
  height: 100px; /* 지도 높이 설정 */
}
#map {
  width: 500px;
  height: 500px;
}

.search-container {
  flex: 1; /* 검색 패널 영역 */
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.search-container input {
  padding: 10px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-container button {
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
}

.search-container button:hover {
  background-color: #0056b3;
}

.result-list {
  flex: 1;
  overflow-y: auto;
  border-top: 1px solid #ccc;
  padding-top: 20px;
}

.result-list ul {
  list-style: none;
  padding: 0;
}

.result-list li {
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
  cursor: pointer;
}

.result-list li:hover {
  background-color: #f0f0f0;
}

.nearby-title {
  color: rgba(0, 0, 0, 1);
  font-size: 40px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.8px;
  margin-bottom: 20px;
}

/* style.css */
.infowindow-content {
  padding: 10px;
  font-size: 14px;
  color: #333;
  text-align: center;
  position: relative;
}

.infowindow-title {
  font-weight: bold;
  color: #555;
  font-size: 16px;
  margin-bottom: 5px;
}

.infowindow-subtitle {
  color: #888;
  font-size: 12px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  margin-right: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.pagination button {
  background-color: blanchedalmond;
  color: black;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.pagination button:hover {
  background-color: blanchedalmond;
  transform: scale(1.1);
}

.pagination button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.pagination button:disabled:hover {
  transform: none;
}

.pagination button:disabled:active {
  transform: none;
}
