.trade-top-3-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #e0e0e0;
  border-radius: 10px;

  overflow: hidden;

  cursor: pointer;

  transition: box-shadow 0.3s ease;

  width: calc(384px - 24px - 24px);
  height: calc(508px - 24px - 24px);
  padding: 24px;

  background-color: rgba(255, 255, 255, 1);
}

.trade-top-3-list-item:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.trade-top-3-list-item-image-box {
  width: 100%;
  padding-top: 75%; /* 4:3 Aspect Ratio */
  position: relative;
  overflow: hidden;
}

.trade-top-3-list-item-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.trade-top-3-list-item-main-box {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.trade-top-3-list-item-top {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-top: 55px;
}

.trade-top-3-list-item-profile-box {
  width: 32px;
  height: 32px;
}

.trade-top-3-list-item-profile-image {
  border-radius: 50% 50%;
  width: 100%;
  height: 100%;

  background-position: center;
  background-size: cover;
}

.trade-top-3-list-item-write-box {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.trade-top-3-list-item-nickname {
  color: rgba(0, 0, 0, 1);

  font-size: 12px;
  font-weight: 500;
  line-height: 140%;
}

.trade-top-3-list-item-write-date {
  color: rgba(0, 0, 0, 0.7);

  font-size: 12px;
  font-weight: 400;
  line-height: 140%;
}

.trade-top-3-list-item-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%; /* Ensure full width */
}

.trade-top-3-list-item-title {
  width: 100%;
  height: 22px;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  color: rgba(0, 0, 0, 1);
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
}

.trade-top-3-list-item-content {
  width: 100%;
  height: 17px;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  color: rgba(0, 0, 0, 0.7);
  font-size: 12px;
  font-weight: 400;
  line-height: 140%;
  text-align: left; /* Ensure text alignment is left */
}

.trade-top-3-list-item-counts {
  color: rgba(0, 0, 0, 0.7);

  font-size: 12px;
  font-weight: 400;
  line-height: 140%;
}
.trade-list-item-price-and-location-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 8px 0px;
}

.trade-list-item-price {
  color: rgba(0, 0, 0, 0.7);
  font-size: 13px;
  font-weight: 500;
  line-height: 140%;
}
.trade-item-location {
  color: rgba(0, 0, 0, 0.7);
  font-size: 14px;
  font-weight: 500;
  line-height: 140%;
}