.general-recipe-top-3-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #e0e0e0;
  border-radius: 10px;

  overflow: hidden;

  cursor: pointer;
  object-fit: cover;

  transition: box-shadow 0.3s ease;

  width: calc(384px - 30px - 30px);
  height: calc(478px - 30px - 30px);

  padding: 24px;

  background-color: rgba(255, 255, 255, 1);
}

.general-recipe-top-3-list-item:hover {
  opacity: 0.9;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.general-recipe-top-3-list-item-image-box {
  width: 100%;
  padding-top: 75%; /* 4:3 Aspect Ratio */
  position: relative;
  overflow: hidden;
}
.general-recipe-top-3-list-item-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.general-recipe-top-3-list-item-none-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.general-recipe-top-3-list-item-none-image-description {
  position: relative;
  z-index: 1;
  color: white;
  font-size: 16px; /* 적절한 폰트 크기 설정 */
  text-align: center;
  padding: 10px; /* 적절한 여백 설정 */
  background: rgba(0, 0, 0, 0.5); /* 배경색 */
  border-radius: 4px; /* 모서리 둥글게 설정 */
}
.general-recipe-top-3-list-item-main-box {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.general-recipe-top-3-list-item-top {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-top: 30px;
}

.general-recipe-top-3-list-item-profile-box {
  width: 32px;
  height: 32px;
}

.general-recipe-top-3-list-item-profile-image {
  border-radius: 50% 50%;
  width: 100%;
  height: 100%;

  background-position: 50% 50%;
  background-size: 100% 100%;
}

.general-recipe-top-3-list-item-write-box {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.general-recipe-top-3-list-item-nickname {
  color: rgba(0, 0, 0, 1);

  font-size: 12px;
  font-weight: 500;
  line-height: 140%;
}

.general-recipe-top-3-list-item-write-date {
  color: rgba(0, 0, 0, 0.7);

  font-size: 12px;
  font-weight: 400;
  line-height: 140%;
}

.general-recipe-top-3-list-item-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.general-recipe-top-3-list-item-title {
  width: 100%;
  height: 22px;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  color: rgba(0, 0, 0, 1);
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
}

.general-recipe-top-3-list-item-content {
  width: 100%;
  height: 17px;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  color: rgba(0, 0, 0, 0.7);
  font-size: 12px;
  font-weight: 400;
  line-height: 140%;
}

.general-recipe-top-3-list-item-cooking-time {
  width: 100%;
  height: 17px;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  color: rgba(0, 0, 0, 0.7);
  font-size: 12px;
  font-weight: 400;
  line-height: 140%;
}
.general-recipe-top-3-list-item-counts {
  color: rgba(0, 0, 0, 0.7);

  font-size: 12px;
  font-weight: 400;
  line-height: 140%;
}
