#onboarding-wrapper {
  font-family: "NPSfontBold";
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  transition: background-color 1s ease;
}

#onboarding-wrapper.bg-living-room {
  background-color: #dddee3;
}
#onboarding-wrapper.bg-kitchen {
  background-color: blanchedalmond;
}
#onboarding-wrapper.bg-tradeimage {
  background-color: white;
}

#onboarding-wrapper.bg-groupbuy {
  background-color: blanchedalmond;
}

.onboarding-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.icons {
  width: 100px; /* 아이콘의 너비 */
  height: 100px; /* 아이콘의 높이 */
  background-size: contain; /* 아이콘 이미지 크기를 부모 요소에 맞춤 */
  background-repeat: no-repeat;
  background-image: url("assets/image/house-icon2.png");
  transition: transform 0.3s ease; /* 애니메이션 효과 추가 */
}

.onboarding-left-box {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 23%;
  transition: transform 1s ease; /* 애니메이션 효과 추가 */
}

.onboarding-left-box.clicked {
  transform: translateY(-35%); /* 클릭 시 위로 이동 */
}

.icon-box-huge {
  display: flex;
  align-items: center;
  justify-content: center;
}

.onboarding-logo-title {
  font-size: 30px; /* 기본 글자 크기 */
  font-weight: normal; /* 기본 글자 두께 */
  transition: transform 0.3s ease, font-size 0.3s ease, font-weight 0.3s ease; /* 애니메이션 효과 추가 */
}

.icon-and-title {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease; /* 애니메이션 효과 추가 */
  cursor: pointer;
}

.icon-and-title:hover {
  transform: scale(1.1); /* 요소 크기를 1.1배로 키움 */
}

.onboarding-logo-title-more-button {
  width: 70px;
  height: 70px;
  background-image: url("assets/image/clickhere.png"); /* 화살표 이미지 추가 */
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 10px; /* 아이콘과의 간격 조절 */
  margin-left: 10px;
}

.onboarding-image-box {
  border: none;
  resize: none;
  position: absolute;
  left: 23%;
  top: -10%; /* 위치를 위쪽으로 조정 */
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 54%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #dddee3;
  overflow: hidden;
  transition: background-color 1s ease;
}
.onboarding-image-box.kitchen {
  border: none;
  resize: none;
  position: absolute;
  left: 23%;
  top: -10%; /* 위치를 위쪽으로 조정 */
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 54%;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  transition: background-color 1s ease;
  background-color: blanchedalmond;
}
.onboarding-image-box.tradeimage {
  border: none;
  resize: none;
  position: absolute;
  left: 23%;
  top: -10%; /* 위치를 위쪽으로 조정 */
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 54%;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  transition: background-color 1s ease;
  background-color: white;
}
.onboarding-image-box.groupbuy {
  border: none;
  resize: none;
  position: absolute;
  left: 23%;
  top: -10%; /* 위치를 위쪽으로 조정 */
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 54%;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  transition: background-color 1s ease;
  background-color: blanchedalmond;
}
.onboarding-image {
  position: absolute;
  width: 75%;
  height: 75%;
  background-size: cover;
  background-position: center;
  transition: opacity 1s ease;
}

#living-room-image {
  background-image: url("assets/image/LivingRoom.jpg");
}

#kitchen-image {
  background-image: url("assets/image/Kitchen.png");
}

#trade-image {
  background-image: url("assets/image/trade.png");
}

#groupbuy-image {
  background-image: url("assets/image/groupbuy.png");
}

.onboarding-image.fade-in {
  opacity: 1;
}

.onboarding-image.fade-out {
  opacity: 0;
}
.onboarding-right-box {
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 23%;
}

.onboarding-start-button {
  cursor: pointer;
  border: none;
  padding: 10px 10px; /* 버튼의 크기 조정 */
  text-align: center;
  transition: transform 0.3s ease, font-size 0.3s ease, font-weight 0.3s ease;
  font-size: 30px; /* 기본 글자 크기 */
  font-weight: normal; /* 기본 글자 두께 */
}

.onboarding-start-button:hover {
  transform: scale(1.1); /* 버튼 크기를 1.1배로 키움 */
  font-size: 34px; /* 글자 크기를 키움 */
  font-weight: bold; /* 글자 두께를 굵게 */
}

.cursor {
  position: absolute;
  width: 80px; /* 원의 크기 */
  height: 80px;
  background-color: white; /* 원의 배경색을 흰색으로 설정 */
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 1000;
  mix-blend-mode: difference; /* 반대 색상 효과 */
  transition: width 0.3s ease, height 0.3s ease; /* 크기 변경 애니메이션 */
}

/* 마우스 올렸을때 확대되는 애니메이션  */
.cursor.enlarge {
  width: 150px;
  height: 150px; /* 커서 크기 변경 */
}

/* 커서 안의 텍스트 */
.cursor::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  mix-blend-mode: difference;
}

.cursor:hover {
  width: 150px;
  height: 150px; /* 커서 크기 변경 */
}

.intro {
  position: absolute;
  bottom: -150px; /* 화면 밖에 배치 */
  width: 100%;
  text-align: center;
  font-size: 30px;
  transition: bottom 1s ease; /* 애니메이션 효과 추가 */
  white-space: pre-line; /* 줄바꿈을 위해 추가 */
  left: 0;
}

.intro.show {
  bottom: 50%; /* 클릭 시 화면 중간으로 이동 */
}

.on-image-top-text {
  position: absolute;
  bottom: 70px; /* 최상단에 위치 */
  left: 50%; /* 가운데 정렬 */
  transform: translateX(-50%);
  padding: 10px 20px;
  font-size: 30px; /* 폰트 크기를 키움 */
  background-color: transparent; /* 배경 색상 제거 */
}
.on-image-bottom-text {
  position: absolute;
  bottom: 25px; /* 최상단에 위치 */
  left: 50%; /* 가운데 정렬 */
  transform: translateX(-50%);
  font-size: 30px; /* 폰트 크기를 키움 */
  padding: 10px 20px;
  background-color: transparent; /* 배경 색상 제거 */
}

