#header {
  padding: 40px 0;

  display: flex;
  justify-content: center;
  /* background-color: rgba(25, 219, 138, 0.7);  */
  background-color: rgba(163, 198, 196, 0.7);
  font-family: "NPSfontBold";
}

.header-container {
  width: 1200px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left-box {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  /* border: 1px solid rgba(0, 0, 0, 0.0); */
  border-radius: 43px;
  /* padding: 0 10px 0 12px; */
}
.header-left-box:hover {
  background-color: beige;
  color: rgba(0, 0, 0, 1);
}

.header-logo {
  color: rgba(0, 0, 0, 1);

  font-family: "NPSfontBold";
  font-size: 20px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.4px;
}

.header-right-box {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header-search-input-box {
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 43px;
  padding: 0 10px 0 12px;
  background-color: rgba(255, 255, 255, 1);
  width: 223px;
  height: 30px;

  display: flex;
  align-items: center;
  gap: 5px;
}
.header-search-input-box:hover {
  background-color: white;
}

.header-search-input {
  flex: 1;

  border: none;
  background: none;
  outline: none;

  color: rgba(0, 0, 0, 1);

  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}
/* placeholder 스타일 */
.header-search-input::placeholder {
  color: #ccc; /* 기본 색상 */
}

.header-search-input.error::placeholder {
  color: red; /* 오류 색상 */
}
