#board-update-wrapper {
  border-top: 1px solid rgba(0, 0, 0, 0.3);

  display: flex;
  justify-content: center;

  background-color: rgba(181, 214, 146, 0.3);
}

.board-update-container {
  padding: 100px 24px;
  width: 996px;
  min-height: 960px;
  background-color: rgba(255, 255, 255, 1);
}

.board-update-box {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.board-update-title-box {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px; /* Space between label and textarea */
}
.board-update-title-label {
  font-size: 32px;
  font-weight: 500;
  line-height: 140%;
  color: rgba(0, 0, 0, 0.7); 
  white-space: nowrap; 
}

.board-update-title-textarea {
  width: 100%;

  border: none;
  outline: none;
  background: none;
  resize: none;
  flex-grow: 1;
  color: rgba(0, 0, 0, 1);

  font-size: 32px;
  font-weight: 500;
  line-height: 140%;
}

.board-update-content-box {
  width: 100%;

  display: flex;
  gap: 16px;
}

.board-update-content-textarea {
  flex: 1;

  border: none;
  outline: none;
  background: none;
  resize: none;

  color: rgba(0, 0, 0, 0.8);

  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
}

.board-update-images-container {
  display: flex;
  flex-wrap: wrap;
}

.board-update-image-box {
  position: relative;
  width: 89px; /* 이미지 박스의 너비 조정 */
  height: 89px; /* 이미지 박스의 높이 조정 */
  margin-right: 10px; /* 이미지 박스 간 간격 조정 */
  margin-bottom: 10px; /* 이미지 박스 간 간격 조정 */
  overflow: hidden; /* 넘치는 이미지를 자르기 위해 overflow 속성 추가 */
  background-color: #f0f0f0; /* 남는 공간의 회색 배경 설정 */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;

  position: relative;
}

.board-update-image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 8px;
}

.image-close {
  position: absolute;
  top: 5px;
  right: 5px;
}
