.top-3-list-item{
    border-radius: 10px;
    padding: 24px;
    width: calc(384px - 24px - 24px);
    height: calc(508px - 24px - 24px);

    display: flex;
    flex-direction: column-reverse;

    background-color: rgba(0, 0, 0, 0.5);
    background-position: 50% 50%;
    background-size: 100% 100%;
}

.top-3-list-item-main-box{
    display: flex;
    flex-direction: column;
    gap: 16px;
}